.about_div {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 100px 200px;
}

.about_container {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 5px;
  background-color: white;
  width: max-content;
  height: max-content;
  font-weight: 300;
}

.about_container a:link,
.about_container a:visited,
.about_container a:hover,
.about_container a:active {
  text-decoration: unset;
  color: blue;
  font-size: 18px;
}

.about_container span {
  display: block;
  font-size: 26px;
}
